* {
    line-height: 1.4em;
    text-decoration: none;
}

:root {
    --prim-bg-color: #111827;
    --text-color: #fcfafa;
    --link-color: var(--text-color);
    --highlight-color: var(--text-color);
    --sec-color: #9c9b94;
    --body-font-size: 18px;
    --h1-font-size: 24px;
    --h2-font-size: 48px;
    --h2-mobile-font-size: 42px;
    --sec-font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sofia, serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--body-font-size);
    color: var(--text-color);
    background-color: var(--prim-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: sofia;
    src: url(/fonts/sofiapro-light.otf);
}
@font-face {
    font-family: inter;
    src: url(/fonts/Inter_28pt-ExtraLight.ttf);
}
@font-face {
    font-family: taviraj;
    src: url(/fonts/Taviraj-Medium.ttf);
}

h1 {
    font-family: taviraj, serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--h1-font-size);
    text-decoration: none;
    margin-bottom: 60px;
    margin-top: 34px;
}

h1 a,
h1 a:hover {
    text-decoration: none;
    border: 0;
}

h2 {
    font-family: inter, serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--h2-font-size);
    letter-spacing: -0.015em;
}

.content {
    width: 70%;
    max-width: 700px;
    padding: 50px;
}

@media only screen and (max-width: 768px) {
    [class*="content"] {
        width: 90%;
        padding: 20px;
    }
    h2 {
        font-size: var(--h2-mobile-font-size);
    }
}

a {
    color: var(--link-color);
    border-bottom: dotted var(--text-color) 1px;
}

a:hover {
    border-bottom: solid var(--text-color) 1px;
    color: var(--highlight-color);
}

img {
    float: left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
ul {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
}
li {
    margin-bottom: 25px;
    .project-meta {
        color: var(--sec-color);
        font-size: var(--sec-font-size);
        margin-left: 22px;
    }
}
