<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            content="width=device-width,initial-scale=1,shrink-to-fit=no"
            name="viewport"
        />
        <link
            rel="icon"
            type="image/png"
            href="{{ (resources.Get "imgs/favicon/favicon-96x96.png").RelPermalink }}"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="{{ (resources.Get "imgs/favicon/favicon.svg").RelPermalink }}" />
        <link rel="shortcut icon" href="{{ (resources.Get "imgs/favicon/favicon.ico").RelPermalink }}" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ (resources.Get "imgs/favicon/apple-touch-icon.png").RelPermalink }}"
        />

        {{ $style := resources.Get "sass/main.scss" | css.Sass |
        resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" />
        <title>{{.Page.Title}}</title>
        <meta content="{{.Page.Title}}" itemprop="name" />
        <meta content="{{.Page.Description}}" itemprop="description" />
        {{ $metacard := resources.Get "imgs/ginatrapani.org-social-card.jpg" }}
        <meta content="{{ $metacard.RelPermalink }}" itemprop="image" />
        <meta content="{{.Page.Title}}" property="og:title" />
        <meta content="website" property="og:type" />
        <meta content="{{ .Site.BaseURL }}" property="og:url" />
        <meta content="{{ $metacard }}" property="og:image" />
        <meta content="{{.Page.Title}}" property="og:site_name" />
        <meta content="summary" name="twitter:card" />
        <meta content="{{.Page.Title}}" name="twitter:title" />
        <meta content="{{.Page.Description}}" name="twitter:description" />
        <meta content="{{ $metacard.RelPermalink }}" name="twitter:image" />
        <meta content="{{ .Site.BaseURL }}" name="twitter:url" />
    </head>
    <body>
        <div class="content">{{ block "main" . }}{{ end }}</div>
    </body>
</html>
